body {
  background-color: grey;
}
#wrapper{
  width:800px;
  margin: 0 auto;
  border-bottom: 50px;
  text-align: center;
}

#container {
  width: 49%;
  padding-bottom: 40px;
  padding-top: 30px;
  background-color: teal;
  padding-left: 18px;
  padding-right: 14px;
  border-radius: 50px;
  border: 1em solid white;
  margin: auto;
  vertical-align: top;
  display:inline-block;
}

.players{
  display:inline-block;
  width:20%
}

Header{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 50px;
  color: white;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #7ff7ff;
  text-align: center;
  vertical-align: top;
  width:10%;
  display:inline-block;
  margin-right: 30px;
  border:4px solid white;
  border-radius: 8px;
  background-color: grey;
}
/*#start{
  vertical-align: top;
  background-color:yellow;
  height: 48px;
  width: 80px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: grey;
  border-radius: 2px;
  font-size: 30px;
}*/

.image1{
  height: 98px;
  width: 98px;
  background-image:url(../images/dog_resize.png);
  border-top: 15px;
  margin: 20px;
  display:block;
  border-radius: 10px;
}

.image2{
  height: 98px;
  width: 98px;
  background-image:url(../images/fox_resize.png);
  border-top: 15px;
  margin:20px;
  display:block;
  border-radius: 10px;
}

.image3{
  display: none;
  background-image:url(../images/pub3.jpg);
  width: 800px;
  height: 555px;
  border-radius: 10px;
}

.X {
  background-image:url(../images/dog_resize.png);
}
.O {
  background-image:url(../images/fox_resize.png);
}

#dogwinner{
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  color: white;
  text-align: center;
  font-weight: bold;
}
#foxwinner{
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  color: white;
  text-align: center;
  font-weight: bold;
}
#draw{
  font-family: 'Open Sans', sans-serif;
  font-size: 31px;
  color: #5a5959;
  text-align: left;
  width:310px;
  font-weight: bold;
  vertical-align: top;
  padding-left:30px;
  padding-top: 4px;
}

.restart_game{
  display:none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #7ff7ff;
  text-align: center;
  vertical-align: top;
  width:69%;
  margin-right: 30px;
  border:4px solid white;
  border-radius: 8px;
  background-color: grey;
  margin-bottom: 5px;
}

.sq1 {
  display:inline-block;
  width:100px;
  height:100px;
  border: grey 4px solid;
}

.sq2 {
  display:inline-block;
  width:100px;
  height:100px;
  border: grey 4px solid;
}

.sq3 {
  display:inline-block;
  width:100px;
  height:100px;
  border: grey 4px solid;
}
.sq4 {
  display:inline-block;
  width:100px;
  height:100px;
  border: grey 4px solid;
}

.sq5 {
  display:inline-block;
  width:100px;
  height:100px;
  border: grey 4px solid;
}

.sq6 {
  display:inline-block;
  width:100px;
  height:100px;
  border: grey 4px solid;
}
.sq7 {
  display:inline-block;
  width:100px;
  height:100px;
  border: grey 4px solid;
}

.sq8 {
  display:inline-block;
  width:100px;
  height:100px;
  border: grey 4px solid;
}

.sq9 {
  display:inline-block;
  width:100px;
  height:100px;
  border: grey 4px solid;
}
